PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://api_node_db_zypm_user:0HNa8AKxJqU26H4xyFQrGZrCyzuR188w@dpg-d3ptd26r433s73amontg-a/api_node_db_zypm"

JWT_SECRET=my_secret
JWT_EXPIRES_IN=86400